<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container p-2">

        <div class="row p-3">
            <h4>Votre formulaire est valide nous vaons reçu ces données </h4>
        </div>

        <div class="row">
            <div class="col-md-6 ">
                <div class="card">
                    <div class="card-body">

                        <p> <span class="font-weight-bold"> Prenom :</span>    <%=  data.name %>  </p>
                        <p> <span class="font-weight-bold"> Nom : </span>  <%= data.lastname %>  </p>
                        <p> <span class="font-weight-bold">E-mail : </span>   <%= data.mail %>  </p>
                        <p> <span class="font-weight-bold">Date de naissance : </span>  <%= data.birthdate %>  </p>
                    </div>
                </div>

            </div>
        </div>


    </div>

</body>
</html>